.timer-counter {
  font-size: 62px;
  font-weight: bolder;
  font-family: monospace;
}
.timer-caption--name {
  font-size: 22px;
  font-weight: bold;
}
.d-today--container {
  font-size: 20px;
  font-weight: bold;
}
.timer-counter--container {
  border: 2px solid black;
  border-radius: 20px;
  padding: 18px;
  box-shadow: 2px 2px rgb(180, 176, 176);
}
