* {
  color: rgb(46, 33, 33);
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body,
nav {
  background: linear-gradient(to right, #fff, rgba(255, 173, 21, 0.1));
  box-shadow: none;
}
.author-name {
  font-family: "Aclonica", sans-serif;
}
.name {
  color: rgb(255, 173, 21);
}
hr {
  position: relative;
  border: none;
  height: 3px;
  opacity: 1;
  background: rgb(255, 173, 21);
}
button {
  background-color: rgb(255, 173, 21);
  border-radius: 10px;
  color: rgb(46, 33, 33);
  margin-top: 10px;
  font-weight: bold;
  border: 1.5px solid rgb(46, 33, 33);
}
a {
  text-decoration: none;
  color: rgb(46, 33, 33);
}
a:hover {
  color: rgb(46, 33, 33);
}
