.form-control:focus,
.form-select:focus,
.form-check-input:focus {
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem rgb(239, 219, 239);
}

.error {
  border-color: #ff0000;
  /* box-shadow: 0 0 0 0.1rem #fa6262; */
}

.msg-error {
  color: red;
  font-size: small;
  font-weight: bold;
}
h1 {
  font-family: "Libre Baskerville", serif;
  font-family: "Miss Fajardose", cursive;
  font-family: "Sawarabi Gothic", sans-serif;
}
.form {
  background-color: #993333;
  border-radius: 12px;
}
body {
  font-weight: bolder;
  color: black;
  background-color: black;
}
