.wrapper {
  box-sizing: content-box;
  padding: 2.5em 3em;
  border-radius: 0.6em;
  box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2);
}
.stats-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  align-content: space-between;
  margin-bottom: 1.2em;
}
.game-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 0.6em;
}
.error-msg {
  color: red;
  font-weight: bold;
}
.card-container {
  position: relative;
  width: 6.25em;
  height: 6.25em;
  cursor: pointer;
}
.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #eb317b;
  transition: transform 0.7s ease-out;
  backface-visibility: hidden;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 255, 0.2);
}
.card-before {
  background-color: #eb317b;
}
.card-after {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.card-before img {
  width: 85%;
  height: 100%;
}
.card-after img {
  width: 85%;
  height: 100%;
}

.card-container.flipped .card-before {
  transform: rotateY(180deg);
}
.card-container.flipped .card-after {
  transform: rotateY(0deg);
}
